@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* Les petits plats - Logo*/

header {
    position: absolute;
    width: 268px;
    height: 93px;
    left: 588px;
    top: 42px;
}

/* font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;

/* identical to box height */
/* text-align: center;

color: #D04F4F; */