.listRecipesSection {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.card-img-top {
    background-color: $greyDark;
    height: 178px;
}

.recipeCard { 
    margin-bottom: 30px;
}

.recipeTitel {
    display: flex;
    padding-left: 20px;
    margin-bottom: 0;
}

.allNeedCook {
    width: 45%;
    margin-right: 5px;
}

.allNeedCook ul {
   display: flex;
   list-style-type: none;
   padding-left: 20px;
   margin-bottom: 0px;
   font-size: 12px;
}

.ingredient {
    font-weight: bold;
}

.recipeHeading {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainRecipeBody {
    height: 186px;
    overflow: hidden;
//     display: -webkit-box;
// -webkit-line-clamp: 4;
// -webkit-box-orient: vertical;
// text-overflow: ellipsis;
}

.recipeBody {
    display: flex;
    
}

.cookingTime {
    display: flex;
    align-items : center;
    padding-right: 20px;

    img {
        width: 20px;
        height: 20px;
    }
}

.timer {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

.explanationRecipe {
    width: 45%;
    margin-left: 5px;
    font-size: 12px;
    display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}