.listRecipesSection {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.card-img-top {
    background-color: $greyDark;
    height: 178px;
}

.recipeCard { 
    margin-bottom: 30px;
}