form {
    width: 100%;
}

.panel-group {
    display: flex;
}

.containerFilter {
    margin-left: 8px;
    margin-right: 16px;
    padding: 0px;
}

.container-fluid {
    padding: 0px;
}

.tagSection {
    margin-left: 16px;
}

.panel-collapse {
    padding-left: 8px;
}

.btn-lg {
    width: 170px;
    height: 69px;
    border-radius: 5px;
}

#btnIngredients {
    background: $blue;

    &:hover {
        background-color: $blueHover;
    }
}

#btnAppareils {
    background: $green;

    &:hover {
        background-color: $greenHover;
    }
}

#btnUstensiles {
    background: $orange;

    &:hover {
        background-color: $orangeHover;
    }
}

.panel-title>button {
    color: white;
    font-size: 18px;
    line-height: 21.6px;
}

.panel-title>button:hover {
    color: whitesmoke;
}