form {
    width: 100%;
}

.mainNavbar {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;

    img {
        height: 25px;
        width: 25px;
        position: absolute;
        right: 30px;
    }
}

#mainInputSearch {
    height: 69px;
    background-color: $greyLight;
    border: $greyLight;

    &::placeholder {
        color: black;
        opacity: 40%;
        /* Firefox */
    }
}

.panel-group {
    display: flex;
}

.containerFilter {
    margin-left: 8px;
    margin-right: 16px;
    padding: 0px;
}

.container-fluid {
    padding: 0px;
}

.panel-group input {
    background: transparent;
    border: none;
    height: 100%;
    color: white;

    &::placeholder {
        color: white;
        opacity: 80%;
        /* Firefox */
    }

    &:focus {
        background: transparent;
        box-shadow: none;
        color: white;
    }
}

.btnFleche {
    border: none;
    background: transparent;
    padding: 0px;

    &:focus,
    &::-moz-focus-inner {
        outline: none;
    }
}

.btn {
    cursor: default;
    display: flex;
    min-width: 170px;
    height: 69px;
    padding: 0px;
    align-items: center;
}

.btn-lg>button {
    content: '';
    margin-right: 12px;
    width: 10px;
    height: 10px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    z-index: 10;
    transition: transform 200ms ease-in;
}

button.collapsed {
    transform: rotate(225deg);
}

.filterIngredient {
    background: $blue;
    border-radius: 5px;
    height: 100%;
    margin-left: 8px;
}

.filterAppareils {
    background: $green;
    border-radius: 5px;
    height: 100%;
}

.filterUstensiles {
    background: $orange;
    border-radius: 5px;
    height: 100%;
}

.filterIngredient,
.filterAppareils,
.filterUstensiles {
    margin-right: 20px;
}

.btFilterIngredient:hover,
.btFilterAppareils:hover,
.btnFilterUstensiles:hover {
    background-color: $colorHover;
}

.panel-collapse {
    max-height: 200px;
    overflow-y: auto;
}

.panel-body {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    max-width: 500px;
    margin-left: 0px;
    padding: 0px;
    cursor: pointer;

    li {
        list-style: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 15px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

}

#tagSection {
    margin-top: 16px;
    margin-left: 16px;

    li {
        min-width: 107px;
        height: 37px;
        display: flex;
        justify-content: space-between;
        color: white;
        cursor: pointer;
        list-style: none;
        padding: 15px;
        transition: background-color 0.15s ease-in-out;
        margin-right: 12px;
        margin-bottom: 12px;
        align-items: center;
        font-weight: 400;
        text-align: center;
        user-select: none;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 0.25rem;

        &:hover {
            color: black;
        }

        img {
            margin-left: 10px;
        }
    }
}

.ingredientsTag {
    background-color: $blue;
}

.applianceTag {
    background-color: $green;
}

.ustensilsTag {
    background-color: $orange;
}

.closeTag {
    width: 20px;
}